<form
  [formGroup]="contactForm"
  (ngSubmit)="onSubmit()"
  class="bg-white rounded-[16px] p-300 tablet:p-500 w-full"
>
  <h1
    class="text-[2rem] font-bold tracking-[-1px] leading-none text-grey-dark mb-400"
  >
    Contact Us
  </h1>
  <div class="flex flex-col gap-300 tablet:flex-row tablet:gap-200 mb-300">
    <div class="flex-1">
      <label for="firstName">First Name<span>*</span></label>
      <input
        type="text"
        id="firstName"
        autocomplete="given-name"
        formControlName="firstName"
        aria-required="true"
        [attr.aria-describedby]="getAriaDescribedBy('firstName')"
        [class.input-error]="firstName?.invalid && firstName?.touched"
      />
      <app-form-error [control]="firstName" errId="firstName"/>
    </div>
    <div class="flex-1">
      <label for="lastName">Last Name<span>*</span></label>
      <input
        type="text"
        id="lastName"
        autocomplete="family-name"
        formControlName="lastName"
        aria-required="true"
        [attr.aria-describedby]="getAriaDescribedBy('lastName')"
        [class.input-error]="!lastName?.valid && lastName?.touched"
      />
      <app-form-error [control]="lastName" errId="lastName"/>
    </div>
  </div>
  <div class="mb-300">
    <label for="email">Email Address<span>*</span></label>
    <input
      type="text"
      id="email"
      autocomplete="email"
      formControlName="email"
      aria-required="true"
      [attr.aria-describedby]="getAriaDescribedBy('email')"
      [class.input-error]="email?.errors && email?.touched"
    />
    <app-form-error [control]="email" errId="email"/>
  </div>

  <fieldset class="space-y-200 mb-300" [attr.aria-describedby]="getAriaDescribedBy('queryType')">
    <legend>Query Type<span>*</span></legend>
    <div class="flex flex-col gap-200 tablet:flex-row">
      <div class="query-type">
        <input
          type="radio"
          id="generalEnquiry"
          name="queryType"
          formControlName="queryType"
          aria-required="true"
          value="generalEnquiry"
        />
        <label for="generalEnquiry" class="cursor-pointer"
          >General Enquiry</label
        >
      </div>
      <div class="query-type">
        <input
          type="radio"
          id="supportRequest"
          name="queryType"
          formControlName="queryType"
          aria-required="true"
          value="supportRequest"
        />
        <label for="supportRequest" class="cursor-pointer"
          >Support Request</label
        >
      </div>
    </div>
    <app-form-error [control]="queryType" errId="queryType"/>
  </fieldset>

  <div>
    <label for="msg">Message<span>*</span></label>
    <textarea
      id="msg"
      formControlName="message"
      aria-required="true"
      [attr.aria-describedby]="getAriaDescribedBy('message')"
      [class.input-error]="message?.errors && message?.touched"
    ></textarea>
    <app-form-error [control]="message" errId="message"/>
  </div>

  <div class="my-500">
    <div class="flex items-center gap-200">
      <input
        type="checkbox"
        id="confirm"
        class="size-4 p-1 text-green-dark"
        formControlName="confirm"
        aria-required="true"
        [attr.aria-describedby]="getAriaDescribedBy('confirm')"
      />
      <label for="confirm"
      >I consent to being contacted by the team<span>*</span></label
      >
    </div>
    <app-form-error [control]="confirm" errId="confirm"/>
  </div>

  <button
    type="submit"
    class="px-500 py-200 text-center text-[1.125rem] font-bold text-white rounded-lg bg-green-dark w-full hover:bg-btn-gradient"
  >
    Submit
  </button>
</form>

@if(submitted){
  <div [@fadeUp] class="absolute right-1/2 top-0 z-20 translate-x-1/2  max-w-[31.12rem] w-full">
    <section aria-live="polite"
             class="m-300 p-300 text-white bg-grey-dark rounded-xl">
      <h2 class="mb-100 text-[1.125rem] font-bold flex items-center">
        <img src="assets/images/icon-success-check.svg" class="mr-100">
        Message Sent!
      </h2>
      <p class="text-[1rem] text-green-light">Thanks for completing the form. We’ll be in touch soon!</p>
    </section>
  </div>

}
